@media screen and (max-width: 1280px){
    .header__burger{
        display: block;
    }
    .header__nav{
        display: none;
    }
    .footer {
        padding: 30px 20px;
    }
    .footer__top {
        flex-direction: column;
    }
    .footer__columns {
        order: 2;
    }
    .footer__map {
        order: 1;
        max-width: 100%;
        height: 360px;
        margin-bottom: 20px;
    }
    .second-section__ball {
       display: none;
    }
    .second-section__row {
        margin: 0 auto ;
    }
    .second-section__title {
        padding: 0px 0px 0px 55px;
    }
    .second-section__text {
        padding: 0px 0px 0px 55px;
    }
    .second-section__btn.btn{
        margin: 0 0 0 150px;
    }
    .header-body {
        min-height: 200px;
        padding: 0px 0px 50px 0px;
        background-size: 25%,18%;
    }
    .header__logo {
        width: 60px;
        height: 60px;
    }
    .header__logo img {
        width: 60px;
        height: 60px;
    }
    .header__contacts-link {
        font-size: 14px;
 
    }
    .title.header-body-title{
        font-size: 30px;
        margin: 50px 0 0 0;
    }
    .header__contacts-item:last-child{
        display: none;
    }
    .contacts-form__form{
        max-width: 720px;
    }
    .contacts-form__item {
        max-width: 300px;
    }
    .contacts-form__textarea {
        height: 156px;   
    }
    .contacts-form__title {
        margin: 0px 0px 30px 0px;
    }
    .contacts-form__items textarea {
        margin: 20px 0px 0px 0px;
    }
    .contacts-form__item.contacts-form__item-button {
        margin: 20px auto 0px auto;  
    }
    .contacts-info {
        padding: 60px 0px 0px 0px;
     
    }
    .contacts-info__row {
        display: flex;
        flex-wrap: wrap;
        max-width: 810px;
        margin: 0 auto;
    }
    .contacts-info__column {
        flex: 0 1 50%;
    }
    .column-content-metro {
        padding: 0px 0px 0px 0px;
        margin: 40px 0px 0px 0px;
    }
    .courses__item-price {
        flex-direction: column;
    }
    .courses__item-price span {
        align-self: start;
    }
    .btn.courses__item-btn {
        align-self: start;
    }
    .all-courses__row .courses__column .courses__item-price {
        padding: 20px 0px 0px 0px;
    }
    .courses__item-sale {
        left: 0;
    }
    .learn__photo {
        max-width: 720px;
    }
    .learn__photo-item {
        max-width: 130px;
        height: 130px;
    }
    .learn__photo-item img{
        max-width: 100%;
        height: 100%;
    }
    .forms__form {
        max-width: 680px;
        text-align: center;
    }
     .form__item:nth-child(1) {
        margin: 0px 0px 15px 0px;
      }   
      .form__text {
        text-align: center;
        margin: 15px 0px 0px 0px;
    }
    .form__item:nth-child(3) {
        margin: 15px 0px 0px 0px;
    }
}
@media screen and (max-width: 970px){
    .footer__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__block {
        flex: 0 1 50%;
    }
    .footer__block-pay {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__block-pay span {
        margin: 0px 0px 15px 0px;
    }
    .footer__block-help {
        text-align: right;
    }
    .poster__row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .poster__column {
        margin: 0 15px 20px 0;
    }
}

@media screen and (max-width: 920px){
    .courses__column {
        flex: 0 1 50%;
    }
}
@media screen and (max-width: 950px){
    .description__slider-row .about__slide-item {
        margin: 0px 30px;
    }
}
.description__slider-row .about__slide-item {
    margin: 0px 30px;
}
/*768=========================================================================*/
@media screen and (max-width: 768px){
    .header__lesson {
            max-width: 215px;
            padding: 15px 0px 10px 85px;
    }
    .header__lesson-link {
        line-height: 12px;
        line-height: 13px;
        display: inline-block;
    }

    .footer__block {
        flex: 0 1 100%;
    }
    .footer__block-copy {
        display: block;
        text-align: center;
    }
    .footer__block-help {
        text-align: center;
    }
    .footer__social-box {
        margin: 0 auto;
    }
    .footer__copy {
        margin: 0 0 15px 0;
    }
    .footer__block-help {
        margin: 15px 0 15px 0;
    }
    .footer__columns {
       flex-wrap: wrap;
    }
    .footer__top {
        border-bottom: none;
    }
    .footer__item{
        padding: 0px 0px 20px 0px;
        flex: 0 1 100%;
        border-bottom: 1px solid hsla(0,0%,100%,.1);
    }
    .footer__item-learn {
        margin: 0 0px;
        order: 2;
    }
    .footer__item-school {
        order: 3;
    }
    .footer__item-contacts {
        margin: 0 0 0 0px;
        order: 1;
    }
    .footer__map {
        min-height: 200px;
        height: 100%;
    }
    .footer__map iframe{
        height: 200px;
    }
    .footer__link-white-big {
        padding: 15px 0 15px;
    }
    .footer__link-white-big:last-child{
        padding: 15px 0 0 0;
    }
    .second-section__title.title{
        font-size: 18px;
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    .second-section__text {
        font-size: 14px;
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    .second-section__sale {
        flex-direction: column;

        align-items: center;
        margin: 0px 0px 35px 0px;
    }
    .title.header-body-title{
        font-size: 18px;
    }
    .title__text-sup {
        font-size: 10px;
        padding: 7px 15px 0px 15px;
        height: 25px;
    }
    .title__text-sup::after {
        top: 27px;
    }
    .header__contacts {
        flex-wrap: wrap;
    }
    .header__contacts-img{
        display: none;
    }
    .header__contacts-text {
        display: none;
    }
    .header-body{
        background-image: none;
        padding: 0px 0px 25px 0px;
    }
    .contacts-form__item {
        max-width: 100%;
        height: 40px;
    }
    .contacts-form__item:first-child {
        margin: 0px 0px 10px 0px;
    }
    .contacts-form__items textarea {
        margin: 10px 0px 0px 0px;
    }
    .contacts-form__textarea {
        height: 110px;
    }
    .form__item-button {
        margin: 10px auto 0px auto;
    }
    .contacts-form__form {
        padding: 20px;
    }
    .contacts-form__title {
        font-size: 16px;
        margin: 0px 0px 15px 0px;
    }
    .contacts-form {
        padding: 20px 0px 0px 0px;
    }
    .contacts-info__column {
        flex: 0 1 100%;
    }
    .contacts-info__row {
        padding: 0;
    }
    .column-content-contacts {
        padding: 0;
        margin: 20px 0px 0px 0px;
    }
    .contacts-info__column-title {
        font-size: 16px;
        margin: 0px 0px 10px 0px;
    }
    .contacts-info__column-content-text-medium {
        font-size: 14px;
    }
    .contacts-info__column-content {
        font-family: 'GothamPro';
        font-size: 12px;
        line-height: 19px;
    }
    .contacts-info {
        min-height: 710px;
        background-image: none;
    }
    .title.courses__item-title {
        font-size: 16px;
        line-height: 20px;
    }
    .courses__item-text {
        font-size: 12px;
        margin: 7.5px 0px 12.5px 0px;
    }
    .courses__item-duration {
        font-size: 10px;
        margin: 0px 0px 12.5px 0px;
    }
    .all-courses__row .courses__column .courses__item-info.courses__item-info_70 {
        padding: 0px 0px 30px 0px;
    }
    .all-courses__row .courses__column .courses__item-info {
        padding: 0px 0px 30px 0px;
    }
    .courses__item-price span {
        font-size: 14px;
    }
    .btn.courses__item-btn {
        font-size: 12px;
    }
    .btn.courses__item-btn {
        height: 35px;
        padding: 10px 30px 0 0;
        background: url(../img/firsrPage/section_2/arrow_right_red.svg) no-repeat top 9px right 2px;
    }
    .all-teachers__row .teachers__column {
        flex: 0 1 50%;
        padding: 35px 20px 35px 20px;
    }
    .teachers__img img{
        width: 105px;
        height: 135px;
    }
    .teachers__name {
        font-size: 16px;
        margin: 15px 0px 0px 0px;
    }
    .teachers__country {
        font-size: 12px;
    }
    .teachers__text {
        font-size: 12px;
        line-height: 1.5;
    }
    .description__slider-row .about__slide-item{
        margin: 0 40px;
    }
    .forms__form {
        padding: 20px;
        text-align: center;
    }
    .forms__form-title {
        font-size: 16px;
        margin:  0px 0px 10px 0px;
    }
    .form__item {
        max-width: 240px;
        height: 40px;
        display: block;
    }
    .form__item:nth-child(1) {
        margin: 0px auto 10px ;
    }
    .form__item:nth-child(2) {
        margin: 0px auto;
    }
    .form__item:nth-child(3) {
        margin: 10px auto 0px;
    }
    .form__item::placeholder{
        font-size: 14px;
    }
    .form__text {
        margin: 10px 0px 0px 0px;
    }
    .poster__item-title {
        font-size: 16px;
        margin: 15px 0 10px;
        padding: 0 20px;
        line-height: 24px;
    }
    .poster__text {
        font-size: 12px;
        line-height: 1.5;
        padding: 0 20px;
        margin: 0px 0px 10px 0px;
    }
    .poster.poster-how-to-learn {
        padding: 0px 0px 30px 0px;
    }
    .poster__row{
        margin: 0 auto;
    }
    .learn__photo {
        margin: 20px auto 30px;
        flex-wrap: wrap;
    }
    .learn__photo-item {
        margin:  0px 0px 20px 0px;
    }
    .learn-text__first {
        margin-top: 40px;
        font-size: 12px;
        line-height: 1.5;
    }
    .learn__link {
        font-size: 14px;
        line-height: 1.43;
        padding: 20px;
        margin: 30px auto;
    }
    .learn-text {
        font-size: 12px;
        line-height: 1.5;
    }
    .learn-text__second {
        padding: 5px 0;
    }
    .learn-text__fourth, .learn-text__fifth, .learn-text__third {
        padding: 5px 0;
    }
    .learn-text__last {
        margin: 0px auto 30px;
    }
    .forms.learn-form {
        margin: 30px 0;
    }
    .btn-poster {
        padding: 18px 40px 0 20px;
    }
    .btn.btn-poster {
        font-size: 12px;
        background: url(../img/firsrPage/section_2/arrow_right_red.svg) no-repeat center left 118px;
    }
    .poster__line {
        margin: 0px 20px;
    }
}
/*768=========================================================================*/
@media screen and (max-width: 650px){
    .courses__item {
        padding: 40px 10px 5px 10px;
    }
    .courses__column {
        flex: 0 1 70%;
    }
}
@media screen and (max-width: 600px){
    .description__img-box {
        float: none;
        margin: 0px 0px 10px 0px;
        text-align: center;
    }
    .description__text-last-img-box {
        margin: 0px 0px 0px 0px;
        float: none;
        text-align: center;
    }
}
@media screen and (max-width: 500px){
    .description__slider-row .about__slide-item {
        margin: 0px 80px;
    }
}
@media screen and (max-width: 450px){
    .courses__column {
        flex: 0 1 100%;
    }
    .all-teachers__row .teachers__column {
        flex: 0 1 80%;
        padding: 25px 10px 25px 10px;
    }
    .header-body__title.header-body__title-all-teachers{
        text-align: left;
    }
}
@media screen and (max-width: 500px){
    .description__slider-row .about__slide-item {
        margin: 0px 40px;
    }
}