@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/14076.eot');
	src: local('☺'), url('../fonts/14076.woff') format('woff'), url('../fonts/14076.ttf') format('truetype'), url('../fonts/14076.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/14078.eot');
	src: local('☺'), url('../fonts/14078.woff') format('woff'), url('../fonts/14078.ttf') format('truetype'), url('../fonts/14078.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamProMedium';
	src: url('../fonts/14082.eot');
	src: local('☺'), url('../fonts/14082.woff') format('woff'), url('../fonts/14082.ttf') format('truetype'), url('../fonts/14082.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'FedraSerifProAMedium';
	src: url('../fonts/FedraSerifProAMedium.eot');
	src: local('☺'), url('../fonts/FedraSerifProAMedium.woff') format('woff'), url('../fonts/FedraSerifProAMedium.ttf') format('truetype'), url('../fonts/FedraSerifProAMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'FedraSerifProAMediumItalic';
	src: url('../fonts/FedraSerifProAMediumIta.eot');
	src: local('☺'), url('../fonts/FedraSerifProAMediumIta.woff') format('woff'), url('../fonts/FedraSerifProAMediumIta.ttf') format('truetype'), url('../fonts/FedraSerifProAMediumIta.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'FedraSerifProANormal';
	src: url('../fonts/FedraSerifProANormal.eot');
	src: local('☺'), url('../fonts/FedraSerifProANormal.woff') format('woff'), url('../fonts/FedraSerifProANormal.ttf') format('truetype'), url('../fonts/FedraSerifProANormal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FedraSerifProANormalItalic';
	src: url('../fonts/FedraSerifProANormalIta.eot');
	src: local('☺'), url('../fonts/FedraSerifProANormalIta.woff') format('woff'), url('../fonts/FedraSerifProANormalIta.ttf') format('truetype'), url('../fonts/FedraSerifProANormalIta.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    font-size: 16px;
    font-family: 'GothamPro';
    font-weight: 400;
    color: #000;
}
.wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 5px 0 0 #fff, 0 -5px 0 0 #fff, 8px 0 10px -4px rgba(0,0,0,.3), -8px 0 10px -4px rgba(0,0,0,.3);
}
.title {
    font-size: 30px;
    font-family: 'FedraSerifProAMedium';
    position: relative;
}
.title.title-sup {
    position: relative;
    display: inline-block;
}
.title__text-sup {
    position: absolute;
    right: -80px;
    top: -43px;
    display: inline-block;
    font-size: 12px;
    font-family: 'FedraSerifProAMediumItalic';
    height: 35px;
    padding: 10px 15px 0px 15px;
    color: #ffefaa;
    background-color: #5a5a5a;
    border-radius: 5px;
}
.title__text-sup::after{
    content: "";
    top: 34px;
    left: 25%;
    right: 75%;
    position: absolute;
    display: block;
    width: 14px;
    height: 7.5px;
    background-color: transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 7px 3.5px 0 3px #5a5a5a;
    transform: rotate(-45deg);
    z-index: 1;
}
.title span{
    color: #f02422;
}
.btn {
    display: inline-block;
    padding: 18px 65px 0 35px;
    font-family: 'GothamPro-Bold';
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    height: 56px;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 8px;
    background: url(../img/firsrPage/section_2/arrow_right_red.svg) no-repeat center right 37px;
}
.header__burger{
    width: 21px;
    height: 14px;
    display: none; 
    position: relative;
    z-index: 6;
}
.header__burger span{
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 7px;
    transition: all 0.3s ease 0s;
}
.header__burger span:nth-child(1){
    top: 14px;
}
.header__burger span:nth-child(3){
    top: 0px;
}
/*======================================================================================================================*/
.header {
    background-color: #ffc900;
    height: 56px;
    box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 6px 6px rgba(0,0,0,.1);
    position: sticky;
    z-index: 5;
    left: 0;
    top: 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}
.header__menu {
    display: flex;
}
.header__menu li{
    padding: 0 19px;
}
.header__menu li:first-child{
    padding-left: 0;
}
.header__link {
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    font-family: 'GothamPro-Bold';
    letter-spacing: 1px;
}
.header__lesson-img{
    position: absolute;
    left: -6px;
    top: 7px;
}
.header__lesson {
    max-width: 330px;
    position: relative;
    padding: 19px 19px 19px 60px;
    background-color: rgba(255, 239, 170, .5);
    height: 56px;
}
.header__lesson-link {
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    font-family: 'GothamPro-Bold';
    letter-spacing: 1px;
}
/*===========================================================================================================*/
.first-screen {
    padding: 30px 0px 0px 0px;
    position: relative;
    margin-bottom: 65px;
}
.header-body{
    padding: 35px 0px 50px 0px;
    min-height: 350px;
    background-color: #fffae5;
    background-image: url(../img/headerBody/bg_left.svg),url(../img/headerBody/bg_right.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}
.header-body__title{
    text-align: center;
    margin: 15px 0px 0px 0px;
}
.title.header-body-title{
    font-size: 40px;
}
.title__text-sup.header-body-title__text-sup{
    right: -55px;
}
.header__block {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.header__logo img {
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
.header__logo-link{
    display: block;
}
.header__contacts {
    display: flex;
}
.header__contacts-item {
    display: flex;
    margin:  10px 0px 0px 60px; 
}
.header__contacts-content {
    padding: 0px 0px 0px 20px;
}
.header__contacts-link {
    display: block;
    font-family: 'GothamProMedium';
    font-size: 24px;
    color: #fff;
    line-height: 1.17;
}
.header__contacts-link.header-body__black span{
    color: rgba(0, 0, 0, .7);
}
.header__contacts-link.header-body__black,
.header__contacts-text.header-body__black{
    color: #000;
}
.header__contacts-link span{
    color: rgba(255, 255, 255, .7);
}
.header__contacts-text {
    font-family: 'GothamProMedium';
    font-size: 14px;
    color: #fff;
    line-height: 1.57;
}
.first-screen__title {
    margin:  0px 0px 70px 0px;
}
.first-screen__title-text {
    font-family: 'FedraSerifProANormal';
    font-size: 40px;
    font-weight: 400;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    padding: 3px 15px 12px 15px;
    border-radius: 8px;
    margin-top: -10px;
}
.first-screen__title-text-second-row{
    max-width: 550px;
    margin-bottom: 25px;
}
.first-screen__title-text span{
    color: #f02422;
}
.first-screen__title-link {
    font-family: 'GothamProMedium';
    font-size: 26px;
    color: #fff;
    text-decoration: underline;
    display: block;
    text-align: center;
}
.first-screen__dots {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.first-screen__dots-item {
    position: relative;
    flex: 0 1 250px;
    height: 250px;
    text-align: center;
    color: #fff;
    padding: 75px 0px 0px 0px;
}
.first-screen__dots-item::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    left: 25px;
    top: 9px;
    background-color: rgba(15,5,1,.7);
    border-radius: 50%;
    z-index: -1;
}
.first-screen__dots-item.first-screen__dots-item_bg-other:before {
    background-color: rgba(255,201,0,.4);
}
.first-screen__dots-number {
    font-family: 'GothamProMedium';
    font-size: 60px;
    margin:  0px 0px 20px 0px;
}
.first-screen__dots-number.first-screen__dots-number_red {
    color: #f02422;
}
.first-screen__dots-text {
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
    line-height: 1.33;
}
.first-screen__dots-text.first-screen__dots-text_black {
    color: #000;
}
.first-screen__arrow{
    margin: 15px 0px 0px 0px;
    text-align: center;
}
.first-screen__ball{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}
.first-screen__ball:before{
    content: '';
    position: absolute;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: #fff7d4;
    left: -180px;
    top: -200px;
    z-index: -3;
}
/*===========================================================================================================*/
.second-section {
    padding: 140px 0px 0px 0px;
    position: relative;
    height: 590px;
    background: linear-gradient(180deg,hsla(0,0%,100%,.3),rgba(255,239,170,.3));
}
.second-section__row {
    max-width: 695px;
    margin: 0 auto 0 460px;
    position: relative;
    z-index: 2;
}
.second-section__title {
    margin:  0px 0px 40px 0px;
}
.second-section__text {
    font-family: 'GothamProMedium';
    font-size: 18px;
    margin:  0px 0px 30px 0px;
}
.second-section__sale {
    display: flex;
    justify-content: space-between;
    margin:  0px 0px 35px 0px;
}
.second-section__sale-items {
    display: flex;
    align-items: center;
    margin: 0 25px 0 0;
}
.second-section__sale-price {
    font-family: 'GothamProMedium';
    font-size: 60px;
    color: #f02422;
}
.second-section__sale-text {
    font-size: 16px;
    font-family: 'FedraSerifProANormalItalic';
    line-height: 1.5;
    padding: 0px 0px 0px 20px;
}
.second-section__ball {
    position: absolute;
    left: 0;
    top: 0;
}
/*===========================================================================================================*/
.forms-first-page {
    margin: -100px 0px 115px 0px;
}
.forms__form {
    max-width: 1240px;
    margin: 0 auto;
    min-height: 230px;
    padding: 30px 40px;
    background: url(../img/firsrPage/form_section/form_bg.png) no-repeat;
    background-size: cover;
    box-shadow: 0 0.4rem 1.6rem 0 rgba(41,41,41,.15);
    border-radius: 12px;
    position: relative;
    z-index: 2;
}
.forms__form-title {
    font-family: 'GothamProMedium';
    font-size: 24px;
    text-align: center;
    margin:  0px 0px 30px 0px;
}
.forms__form-title span{
    color: #f02422;
}
.form__item {
    max-width: 360px;
    width: 100%;
    display: inline-block;
    height: 56px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.form__item::placeholder{
    color: rgba(0, 0, 0, .2);
    font-family: 'GothamProMedium';
    font-size: 16px;
}
.form__item.form__item-text{
padding: 0px 0px 0px 20px;
}
.form__item:nth-child(1){
    margin:  0px 10px 0px 20px;
}
.form__item:nth-child(2){
    margin:  0px 10px;
}
.form__item:nth-child(3){
    margin:  0px 0px 0px 10px;
}
.form__item.form__item-button {
    background-color: #f02422;
    box-shadow: 0 0.4rem 1.6rem 0 #fa5932;
    color: #fff;
    text-transform: uppercase;
    font-family: 'GothamPro-Bold';
    font-size: 14px;
}
.form__text {
    text-align: right;
    margin: 25px 70px 0px 0px;
}
.form__text-text {
    font-family: 'GothamPro';
    font-size: 12px;
}
.form_link {
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    color: #f02422;
    line-height: 1.5;
    display: block;
    margin: 4px 0px 0px 0px;
    padding: 0 5px 0 0;
}
/*===========================================================================================================*/
.poster {
    padding: 0px 0px 60px 0px;
}
.poster__title{
    text-align: center;
    margin:  0px 0px 65px 0px;
}
.poster__row {
    display: flex;
    max-width: 1240px;
    margin: 0 auto 50px;
}
.poster__column {
    flex: 0 1 388px;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 12px;
    overflow: hidden;
    margin: 0 16.5px;
    display: flex;
}
.poster__item {
    display: flex;
}
.poster__link-wrap {
    display: flex;
    flex-direction: column;
    color: #000;
}
.poster__img {
    max-width: 388px;
} 
.poster__img img{
    width: 100%;
    height: 205px;
    display: inline-block;
}
.poster__item-title{
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
    margin: 20px 0 15px;
    padding: 0 40px;
    line-height: 30px;
}
.poster__text {
    flex: 1 1 auto;
    font-family: 'GothamPro';
    font-size: 14px;
    line-height: 24px;
    padding: 0 40px;
    margin:  0px 0px 18px 0px;
}
.btn.btn-poster {
    background: url(../img/firsrPage/section_2/arrow_right_red.svg) no-repeat center left 150px;
    border: none;
} 
.btn-poster {
    padding: 18px 40px 0 40px;
    line-height: 21px;
}
.poster__line{
    margin: 0 40px;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}
.poster__btn-more {
    text-align: center;
}
/*===========================================================================================================*/
.courses {
    padding: 75px 0 50px 0;
    background: rgba(255,239,170,0.3);
}
.courses__title {
    text-align: center;
    margin:  0px 0px 60px 0px;
}
.title__text-sup.courses-title__text-sup{
    right: -50px;
}
.courses__row {
    display: flex;
    margin:  0px 0px 50px 0px;
}
.courses__column {
    flex: 0 1 33.333%;
    margin: 0 17.5px 0 17.5px;
    background-color: #fff;
    display: flex;
}
.courses__item {
    display: flex;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 12px;
    padding: 40px 40px 5px 40px;
    
}
.courses__link {
    color: #000;
    display: flex;
    flex-direction: column;
}
.courses__item-img {
    margin: -70px 0 0 0;
}
.courses__item-img img:nth-child(2){
    margin: 0 0 0 -25px;
}
.courses__item-img img:nth-child(3){
    margin: 0 0 0 -25px;
}
.courses__item-img img.calendar-icon{
    margin: 0 0 -15px -25px;
}
.courses__item-img img.fire-icon{
    margin: 0 0 -4px -25px;
}
.courses__item-img img.children-icon{
    margin: 0 0 -4px -25px;
}
.courses__item-img img.cge-icon{
    margin: 0 0 -12px -25px;
}
.courses__item-title{
    margin: 12px 0 0 0;
}
.title.courses__item-title {
    font-size: 24px;
    line-height: 32px;
}
.courses__item-text {
    font-size: 14px;
    line-height: 1.71;
    font-family: 'GothamPro';
    margin:  7.5px 0px 22.5px 0px;
}
.courses__item-duration {
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    text-transform: uppercase;
    margin:  0px 0px 15px 0px;
}
.courses__item-info {
    font-family: 'GothamPro';
    font-size: 12px;
    color:#9d927d;
    line-height: 1.5;
    flex: 1 1 auto;
    padding: 0px 0px 70px 0px;
}

.courses__item-line {
    height: 1px;
    background-color: rgba(0,0,0,.1);
}
.courses__item-price {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses__item-price span{
    font-family: 'GothamProMedium';
    font-size: 16px;
    color: #f02422;
}
.btn.courses__item-btn {
    border: none;
    padding: 20px 30px 0 0;
    background: url(../img/firsrPage/section_2/arrow_right_red.svg) no-repeat center right 2px;
}
.courses__btn-more {
    text-align: center;
}
/*===========================================================================================================*/
.teachers {
    padding: 105px 0 40px 0;
}
.teachers__title {
    text-align: center;
    margin:  0px 0px 45px 0px;
}
.title__text-sup.teachers-title__text-sup {
    right: -60px;
}
.teachers__row {
    display: flex;
    margin: 0 0px 80px 0px;
}
.teachers__column {
    flex: 0 1 25%;
    text-align: center;
    padding: 0 38px 0 38px;
}
.teachers__name {
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
    margin: 30px 0px 0px 0px;
}
.teachers__country {
    font-family: 'GothamProMedium';
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}
.teachers__text {
    font-family: 'GothamPro';
    font-size: 14px;
    line-height: 1.71;
    margin-top: 25px;
}
.teachers__btn-more {
    text-align: center;
}
/*===========================================================================================================*/
.reviews {
    padding: 70px 0px 35px 0px;
    background-color: #fffae5;
    background-image: url(../img/firsrPage/reviews/bg_01.svg),url(../img/firsrPage/reviews/bg_2.svg),url(../img/firsrPage/reviews/bg_3.svg),url(../img/firsrPage/reviews/bg_4.svg);
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom,96% 87px; 
}
.reviews__title {
    margin:  0px 0px 65px 0px;
    text-align: center;
}
.title__text-sup.reviews-title__text-sup {
    right: -55px;
}
.reviews__row {
    max-width: 950px;
    margin: 0 auto 50px auto;
}
.reviews__item {
    max-width: 950px;
    padding: 40px 80px 40px 40px;
    display: flex;
    border-radius: 12px;
    background-color: #fff;
}
.reviews__item-description {
    display: flex;
    align-items: center;
}
.reviews__item-description-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.reviews__item-description-img img{
    max-width: 100%;
    height: 100%;
    display: block;
}
.reviews__item-description-text {
    margin-left: 30px;
}
.reviews__item-description-name {
    font-family: 'GothamProMedium';
    font-size: 18px;
    max-width: 115px;
    margin:  0px 0px 17.5px 0px;
}
.reviews__item-description-date {
    font-family: 'GothamProMedium';
    font-size: 14px;
}
.reviews__item-text {
    padding:  0 0 0 90px;
    font-family: 'GothamPro';
    font-size: 14px;
    line-height: 1.71;
}
.reviews__btn-more {
    text-align: center;
}
.reviews__item.slick-slide{
    display: flex;
    outline: none;
}
/*===========================================================================================================*/
.about {
    padding: 100px 0 30px 0 ;
    background-image: url(../img/firsrPage/about/bg_left.svg),url(../img/firsrPage/about/bg_right.svg),linear-gradient(180deg,hsla(0,0%,100%,.3),rgba(255,239,170,.3));
    background-repeat: no-repeat;
    background-position: left top, right top;
}
.wrapper.about-wrapper{
    max-width: 100%;
}
.about__title {
    margin:  0px 0px 40px 0px;
}
.about-title__text-sup.title__text-sup {
    right: -60px;
}
.about__text {
    max-width: 480px;
    margin: 0 auto 120px auto;
}
.about__text-text{
    font-family: 'GothamPro';
    font-size: 16px;
    line-height: 1.75;
}
.about__row-item {
    width: 235px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}
.about__slide-item{
    margin: 0 20px;
}
.about__row-item img{
    width: 100%;
    height: 100%;
}
.about__btn-more{
    margin: 65px 0px 0px 0px;
    text-align: center;
}
.slick-dots li button:before {
    font-size: 14px;
    color: rgb(187, 195, 192);
}
.slick-dots li.slick-active button:before{
    font-size: 14px;
    color: rgb(134, 151, 145);
}
.slick-dots{
    bottom: -45px;
}
/*===========================================================================================================*/
.all-teachers{
    padding: 40px 0px 26px 0px;
}
.wrapper.all-teachers-wrapper{
    padding: 0;
}
.all-teachers__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.all-teachers__row .teachers__column {
    flex: 0 1 25%;
    text-align: center;
    padding: 35px 20px 35px 20px;
}
.teachers__item-description-link{
    color: #000;
}
.teachers__img img{
    width: 180px;
    height: 234px;
}
/*===========================================================================================================*/
.title__text-sup.contacts-title__text-sup{
    right: -65px;
}

.contacts-form {
    padding: 60px 0px 0px 0px;
}
.contacts-form__row{
    margin: 0 auto;
}
.contacts-form__form {
    margin: 0 auto;
    max-width: 1240px;
    padding: 30px 40px;
    background: url(../img/contactsPage/contacts_form/form_bg.1298ee2e.png) no-repeat center;
    background-size: cover;
    border-radius: 12px;
    min-height: 430px;
}
.contacts-form__title {
    font-family: 'GothamProMedium';
    font-size: 24px;
    text-align: center;
    margin:  0px 0px 35px 0px;
}
.contacts-form__title span{
    color: #f02422;
}
.contacts-form__items{
    margin: 0 auto;
    max-width: 760px;
}
.contacts-form__items input,
.contacts-form__items textarea{
    outline: none;
    border: none;
    margin: 30px 0px 0px 0px;
    font-family: 'GothamPro';
    font-size: 16px;
}
.contacts-form__item::placeholder{
    color: rgba(0, 0, 0, .2);
    font-family: 'GothamProMedium';
    font-size: 16px;
}
.contacts-form__item {
    max-width: 360px;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    padding: 1px 20px;
}
.contacts-form__item:first-child{
    margin:  0px 35px 0px 0px;
}
.contacts-form__item:nth-child(2){
    margin:  0px 0px 0px 0px;
}
.contacts-form__textarea{
    display: block;
    max-width: 760px;
    width: 100%;
    height: 96px;
    resize: none;
    border-radius: 8px;
    padding: 13px 20px 0px 20px;
}
.contacts-form__textarea::placeholder{
    color: rgba(0, 0, 0, .2);
    font-family: 'GothamProMedium';
    font-size: 16px;
}
.contacts-form__item.contacts-form__item-button {
    display: block;
    margin: 30px auto 0px auto;
    box-shadow: 0 4px 16px 0 #fa5932;
    background-color: #f02422;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'GothamPro-Bold';
}
.contacts-form__text {
    margin: 15px 0px 0px 0px;
    text-align: center;
}
.contacts-form__text-text {
    font-family: 'GothamPro';
    font-size: 12px;
}
.contacts-form_link {
    color: #f02422;
    font-size: 12px;
    font-family: 'GothamPro-Bold';
}
/*===========================================================================================================*/

.contacts-info {
    padding: 90px 0px 0px 0px;
    min-height: 710px;
    background: url(../img/contactsPage/contacts_bg.svg) no-repeat bottom right;
}
.contacts-info__row {
    display: flex;
    padding: 0 0 0 50px;
}
.contacts-info__column {
    flex: 0 1 33.333%;
}
.contacts-info__column-title {
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
    margin:  0px 0px 20px 0px;
}
.contacts-info__column-content {
    font-family: 'GothamPro';
    font-size: 14px;
    line-height: 22px;
}
.contacts-info__column-content-nav {
    padding: 0px 0px 0px 41px;
    background: url(../img/contactsPage/contacts_icon/nav-i.svg) no-repeat top left;
}
.contacts-info__column-content-text-medium {
    font-family: 'GothamProMedium';
    font-size: 16px;
}
.contacts-info-text_red {
    color: #f02422;
    font-family: 'GothamProMedium';
}
.contacts-info-text_dashed{
    font-size: 14px;
    font-family: 'GothamPro-Bold';
    text-decoration: underline;
    text-decoration-style: dashed;
}
.contacts-info__column-content-social {
    margin: 30px 0px 0px 0px;
}
.contacts-info__column-content-social-group {
    margin: 10px 0px 0px 0px;

}
.contacts-info__column-content-social-link {
    margin:  0px 5px 0px 0px;
}
.contacts-info__column-content-social-link img{
    width: 40px;
    height: 40px;
}
.contacts-info__column-content-phone,
.contacts-info__column-content-clock{
    padding: 0px 0px 0px 51px;
}
.contacts-info__column-content-phone {
    margin:  0px 0px 20px 0px;
    background: url(../img/contactsPage/contacts_icon/phone-i.svg) no-repeat top left;
}
.contacts-info__column-content-clock {
    background: url(../img/contactsPage/contacts_icon/clock-i.svg) no-repeat top left;
}
.contacts-info__column-content-text-metro_red,
.contacts-info__column-content-text-metro_grey,
.contacts-info__column-content-text-metro_green{
    padding: 0px 0px 0px 27px;
}
.contacts-info__column-content-text-metro_red{
    background: url(../img/contactsPage/contacts_icon/m_red-i.svg) no-repeat left;
    margin:  0px 0px 15px 0px;
}
.contacts-info__column-content-text-metro_grey{
    background: url(../img/contactsPage/contacts_icon/m_grey-i.svg) no-repeat left;
    margin:  0px 0px 15px 0px;
}
.contacts-info__column-content-text-metro_green{
    background: url(../img/contactsPage/contacts_icon/m_green-i.svg) no-repeat left;
}

.column-content-metro{
    padding: 0px 0px 0px 70px;
}
.column-content-contacts{
    padding: 0px 0px 0px 70px;
}
/*===========================================================================================================*/
.title__text-sup.coursos-title__text-sup{
    right: -52px;
}
.all-courses__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.all-courses__row .courses__column {
    padding: 0 17.5px 0 17.5px;
    margin: 35px 0;
}
.all-courses__row .courses__column .courses__item-info{
    padding: 0px 0px 40px 0px;
}
.all-courses__row .courses__column .courses__item-price{
    padding: 5px 0px 0px 0px;
}
.all-courses__row .courses__column .courses__item-info.courses__item-info_70{
    padding: 0px 0px 70px 0px;
}
.courses__item-sale{
    font-size: 12px;
    font-family: 'GothamPro-Bold';
    display: inline-block;
    color: #000;
    background: #ffc900;
    text-transform: uppercase;
    border-radius: 3px;
    position: absolute;
    top: -14px;
    padding: 6px 10px;
}

/*===========================================================================================================*/
.poster.poster-how-to-learn{
    padding: 0px 0px 80px 0px;
}
.learn-text {
    margin: 0 auto;
    max-width: 830px;
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
}
.learn-text__first{
    margin-top: 60px;
    font-size: 18px;
    text-align: center;
    line-height: 1.56;
}
.learn-text__wrap{
    margin: 0 auto;
    max-width: 860px;
}
.learn-text__wrap.learn-text__wrap-first{
    max-width: 830px;
}
.learn-text__second{
    padding: 10px 0;
}
.learn-text__fourth,
.learn-text__fifth,
.learn-text__third{
    padding: 10px 0;
    max-width: 860px;
}
.learn-text__last{
    padding: 10px 0;
    margin:  0px auto 55px ;
}
.learn__link{
    display: block;
    max-width: 960px;
    font-family: 'GothamProMedium';
    font-size: 18px;
    color: #000;
    text-align: center;
    background-color: #ffefaa;
    padding: 30px 0;
    border-radius: 12px;
    margin: 40px auto;
}
.learn__photo {
    max-width: 1040px;
    margin: 30px auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.learn__photo-item {
    max-width: 180px;
}
.learn-text__title{
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
    margin: 30px auto 20px;
    max-width: 860px;
}
.forms.learn-form{
    margin: 50px 0;
}
/*===========================================================================================================*/

.description {
    margin:  0px 0px 60px 0px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper.wrapper-description {
    padding: 20px;
    background-color: hsla(0,0%,100%,.7);
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
    border-radius: 0 0 10px 10px;
}

.description__title {
    margin:0 0 15px 0;
    text-align: center;
    font-size: 30px;
    letter-spacing: -1.5px;
}
.description__column {
    clear: both;
}
.description__img-box {
    float: right;
    margin:  0px 0px 0px 10px;
}
.description__img-img {
    display: inline-block;
    width: 215px;
    height: 255px;
}
.description__text {
    text-align: left;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: -0.6px;
}
.description__list {
    padding: 0px 0px 10px 8px;
}
.description__item {
    padding: 5px 0px 5px 32px;
    margin: 15px 0;
    letter-spacing: -0.6px;
    display: block;
    background: url(../img/aboutPage/30.svg) no-repeat left top;
    
}
.description__link {
    text-align: center;
}
.description__btn {
    display: inline-block;
    min-width: 205px;
    padding: 9px 20px;
    color: #fff;
    background: #f0bf00;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    transition:  all 0.3s ease 0s;
}
.description__btn:hover{
    background: #312a1e;
}
.description__slider-row {
    margin: 50px 0px 0px 0px;
}
.description__slider-row .about__row-item{
    width: 220px;
    height: 250px;
}
.description__slider-row .about__slide-item {
    margin: 0 15px;
}
.description__text-last-img-box {
    margin:  0px 20px 0px 0px;
    float: left;
}
.description__text-last {
    clear: both;
    margin: 80px 0 30px 0;
}
.description__text-last-img {
    display: inline-block;
    width: 267px;
    height: 200px;
}
.description__paragraph {
    margin: 20px 0;
    line-height: 1.3;
    letter-spacing: -0.6px;
}
.description__paragraph-blue {
    font-size: 15px;
    color: #465f99;
}
/*===========================================================================================================*/
.title__text-sup.dele-body-title__text-sup{
    right: -55px;
}
.forms.dele-forms{
    margin: 100px 0px 100px 0px;
}
.dele-wrap{
    margin: 0 auto ;
    max-width: 840px;
}
.dele__block-text {
    font-family: 'GothamPro';
    font-size: 16px;
    line-height: 1.5;
}
.dele__block-text-first{
    padding: 60px 0 0 0;
}
.dele__title{
    text-align: center;
    margin: 60px 0px 20px 0px;
}
/*===========================================================================================================*/
.small-teachers {
    padding: 60px 0px 0px 0px;
}
.small-teachers__title {
    text-align: center;
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
    margin:  0px 0px 30px 0px;
}
.small-teachers__title span{
    color: #f02422;
}
.small-teachers__body {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}
.small-teachers__column {
    text-align: center;
}
.small-teachers__img {
    width: 100px;
    height: 125px;
    margin:  0px 0px 10px 0px;
}
.small-teachers__img img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.small-teachers__name {
    font-family: 'GothamProMedium';
    font-size: 18px;
}
.small-teachers__country {
    font-size: 14px;
    margin: 5px 0px 0px 0px;
}
.small-teachers__btn-more {
    text-align: center;
    margin: 30px 0px 0px 0px;
}
.dele__block-text-second{
    padding:  0px 0px 20px 0px;
}
.dele__block-text-third{
    padding:  0px 0px 30px 0px;
}
/*===========================================================================================================*/
.dele-desk__row {
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px;
    min-height: 175px;
    background: url(../img/delePage/bg_dele.png) no-repeat center;
    background-size: cover;
    border-radius: 12px;
}
.dele-desk__skills {
    font-family: 'GothamProMedium';
    font-size: 18px;
    text-align: center;
    margin:  0px 0px 20px 0px;
}
.dele-desk__body {
    display: flex;
    margin: 0 auto;
    max-width: 380px;
    justify-content: space-between;
}
.dele-desk__item {
    display: flex;
    align-items: center;
    margin:  0px 0px 10px 0px;
}
.dele-desk__item-text {
    margin:  0px 0px 0px 10px;
}
/*===========================================================================================================*/
.dele__block-text-a-level {
    padding: 30px 0px 0px 0px;
}
.dele__block-text-body {
    display: flex;
}
.dele__block-text-img {
    max-width: 150px;
    height: 150px;
}
.dele__block-text-img img{
    max-width: 100%;
    height: 100%;
}
.dele__block-text-row {
    padding: 0px 0px 0px 30px;
}
.dele__block-text-items {
    display: flex;
    margin:  0px 0px 10px 0px;
}
.dele__block-text-items-big {
    font-family: 'FedraSerifProAMedium';
    font-size: 24px;
}
.dele__block-text-items-little {
    line-height: 1.5;
    max-width: 590px;
    padding: 7px 0 0 0;
}
/*===========================================================================================================*/
.table-first {
    margin: 30px 0px 80px 0px;
}
.table-second{
    margin: 30px 0px 80px 0px;
}
.table-third{
    margin: 30px 0px 80px 0px;
}
.table__caption-row {
    display: flex;
    height: 50px;
    border-radius: 12px 12px 0 0;
    background-color: #ffefaa;
    align-items: center;
    border-bottom: 4px solid #ccc0a9;
}
.table__caption-items {
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    text-transform: uppercase;
    margin:  0px 0px 0px 40px;
    width: 100%;
}
.table__caption-items:nth-child(1){
    max-width: 120px;
}
.table__caption-items:nth-child(2){
    max-width: 160px;
}
.table__caption-items:nth-child(3){
    max-width: 160px;
}
.table__caption-items:nth-child(4){
    max-width: 100px;
}
.table__caption-items:nth-child(5){
    max-width: 200px;
}
.table__caption-items:nth-child(6){
    max-width: 36px;
}
/*===========================================================================================================*/
.table__inner {
    box-shadow: 0 4px 16px 0 rgba(41,41,41,.15);
    border-radius: 0 0 8px 8px;
    padding: 0 40px;
}
.table__inner-row {
    display: flex;
    width: 100%;
    border-bottom: 4px solid #e5e5e5;
}
.table__inner-row:last-child{
    border-bottom: none;
}
.table__inner-level {
    max-width: 120px;
    width: 100%;
    font-family: 'GothamProMedium';
    font-size: 14px;
    padding: 22px 0px 0px 0px;
}
.table__inner-items-container {
    width: 100%;
}
.table__inner-items-row {
    display: flex;
    max-width: 1040px;
    padding: 22px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.table__inner-items-row:last-child{
    border-bottom: none;
}
.table__inner-item-first {
    max-width: 240px;
    width: 100%;
    display: flex;
    padding: 0px 0px 0px 40px;
}
.table__inner-item-first-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.table__inner-item-first-img img{
    max-width: 100%;
    height: 100%;
}
.table__inner-item-first-name {
    font-size: 14px;
    margin:  0px 0px 0px 20px;
}
.table__inner-item-first-name-red{
    color: #f02422;
    font-family: 'GothamProMedium';
    font-size: 14px;
}
.table__inner-item-first-text {
    font-size: 12px;
    display: block;
    margin: 4px 0px 0px 0px;
}
.table__inner-item-first-text-transp {
    color: #ada391;
}
.table__inner-item-second {
    max-width: 200px;
    width: 100%;
}
.table__inner-item-second-time {
    font-size: 14px;
    margin:  0px 0px 4px 0px;
}
.table__inner-item-second-day {
    font-size: 12px;
}
.table__inner-item-third {
    max-width: 140px;
    width: 100%;
}
.table__inner-item-third-date {
    font-size: 14px;
}
.table__inner-item-fourth {
    max-width: 200px;
    width: 100%;
}
.table__inner-item-fourth-duration {
    padding: 0px 60px 0px 0px;
    font-size: 12px;
}
.table__inner-item-fifth {
    display: flex;
    align-items: center;
    height: 40px;
}
.table__inner-item-fifth-price {
    font-family: 'GothamProMedium';
    font-size: 14px;
    color: #f02422;
    line-height: 22px;
    margin:  0px 0px 0px 42px;
    position: relative;
}
.table__inner-item-fifth-price-origin{
    text-decoration: line-through;
    font-size: 14px;
    font-family: 'GothamPro';
    color: #000;
    display: block;
}
.table__inner-item-fifth-price-sale{
    font-family: 'GothamPro';
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    position: absolute;
    left: -100px;
    top: 1px;
    width: 85px;
    height: 20px;
    border-radius: 2px;
    background: #ffc900;
    text-align: center;
    color: #000;
}
.table__inner-item-sixth {
    height: 40px;
} 
.table__inner-item-sixth-box {
    height: 40px;
    display: flex;
    align-items: center;
}
.table__inner-item-sixth-link {
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    line-height: 13px;
    padding: 0px 30px 0px 0px;
    margin: 0 0 0 60px;
    background: url(../img/delePage/arrow.svg) no-repeat right center;
}
/*===========================================================================================================*/
.footer {
    background-color: #1d1d1f;
    padding: 75px 5% 20px 5%;
}
.footer-wrapper.wrapper{
    max-width: 100%;
    padding: 0;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.footer__columns {
    display: flex;
}
.footer__columns a{
    display: block;
}
.footer__item-school{
    margin:  0px 20px 0px 0px;
}
.footer__item-learn{
    margin: 0 20px;
}
.footer__item-contacts{
    margin: 0 0 0 20px;
}
.footer__item-title {
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    margin: 15px 0px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}
.footer__link-yellow {
    color: #ffc900;
    font-family: 'GothamPro-Bold';
    font-size: 12px;
    padding: 6px 0;
    letter-spacing: 0.9;
}
.footer__link-white-big {
    padding: 15px 0 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.9;
    font-family: 'GothamPro-Bold';
    font-size: 12px;
}
.footer__link-phone {
    color: #fff;
    font-family: 'GothamPro';
    font-size: 12px;
    padding: 6px 0;
}
.footer__link-mail {
    color: #ffc900;
    font-size: 12px;
    font-family: 'GothamPro-Bold';
    padding: 6px 0;
}
.footer__address {
    font-family: 'GothamPro';
    font-size: 12px;
    padding: 6px 0;
    color: #fff;
}
.footer__metro {
    font-family: 'GothamPro';
    font-size: 12px;
    padding: 6px 0 6px 22px;   
    color: rgba(255, 255, 255, .45);
    letter-spacing: 1;
}
.footer__metro-red {
    background: url(../img/firsrPage/footer/metro-red.svg) no-repeat left ;
}
.footer__metro-white {
    background: url(../img/firsrPage/footer/metro-white.svg) no-repeat left ;
}
.footer__metro-green {
    background: url(../img/firsrPage/footer/metro-green.svg) no-repeat left ;
}
.footer__map {
    max-width: 480px;
    width: 100%;
    min-height: 360px;
}
.footer__map iframe{
    width: 100%;
    height: 100%;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px 0px;
}
.footer__block {
    flex: 0 1 33.333%;
}
.footer__block-copy {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    color: hsla(0,0%,100%,.45);
    font-family: 'GothamPro';
    font-size: 12px;
}
.footer__social-box {
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: hsla(0,0%,100%,.45) 2px solid;
}
.footer__block-help {
    text-align: center;
}
.footer__link-help {
    color: #ffc900;
    font-size: 12px;
    font-family: 'GothamPro';
}
.footer__block-pay {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer__block-pay span {
    color: hsla(0,0%,100%,.45);
    font-family: 'GothamPro';
    font-size: 12px;
    margin:  0px 36px 0px 0px;
}
/*===========================================================================================================*/